body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container,
.signup-container {
    background-color: #282828;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.login-form,
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h1,
.signup-form h1 {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.form-control::placeholder {
    color: #b3b3b3;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1db954;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #1ed760;
}

p {
    margin-top: 15px;
}

a {
    color: #1db954;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #1ed760;
}
