<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <title>Sign Up</title>
</head>
<body class="signup-body">
  <div class="signup-container">
    <h1>Sign Up</h1>
    <form class="signup-form" method="POST" action="{{ url_for('signup') }}">
      <input type="text" name="username" placeholder="Username" required class="form-control">
      <input type="text" name="first_name" placeholder="First Name" required class="form-control">
      <input type="text" name="last_name" placeholder="Last Name" required class="form-control">
      <input type="email" name="email" placeholder="Email" required class="form-control">
      <input type="text" name="phone_number" placeholder="Phone Number" class="form-control">
      <input type="password" name="password" placeholder="Password" required class="form-control">
      <input type="password" name="password2" placeholder="Retype Password" required class="form-control">
      <input type="submit" value="Sign Up" class="btn-primary">
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
  </div>
</body>
</html>
